/*=================== custo button rule start ====================*/
.button{
  display: inline-block;
  border: 1px solid $black;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 24px;
  background-color: $black;
  color: $primary-color;
  transition: all .4s ease;

  i,span{
    margin-left: 5px;
  }

  @media(min-width: 900px){
    padding: 12px 42px;
  }
  &:hover{
    background-color: $primary-color;
    border-color: $primary-color;
    color: #000022;
  }
}