/* global style start
	============================================================================================ */

body {
	color: $text-color;
	font-family: $text-font;
	font-weight: 400;
  line-height: 1.625;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
}

button{
  cursor: pointer;

  &:focus{
    outline: 0;
    box-shadow: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font;
	color: $title-color;
	line-height: 1.333;
}

h1,
.h1 {
  font-size: 30px;
  font-weight: 700;

  @media(min-width: 600px){
    font-size: 45px;
  }
}
h2,
.h2 {
  font-size: 18px;
  font-weight: 700;
}
h3,.h3{
  font-size: 18px;
  font-weight: 700;
}

a{
  display: inline-block;
}
//  owl carousel img size hack
.owl-carousel .owl-stage {
  display: flex;
}

.mb-30px{
  margin-bottom: 30px;
}

.section-padding{
  padding: 110px 0;
}

.section-margin{
  margin: 50px 0;

  @media(min-width: 1000px){
    margin: 100px 0;
  }
}
/* global style end
	============================================================================================ */

