/* font family
	============================================================================================ */
$title-font: 'Lora', serif;
$text-font: 'Source Sans Pro', sans-serif;


/* color variables
	============================================================================================ */
$title-color: #3a414e;
$text-color: #797979;
$black: #222222;
$primary-color: #ff9907;


$link-color: #7b838a;
$white: #fff;
$soapstone : #fff9f7;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');





